<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WiproWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>984100031D0F3E5100F7A967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9841001A1D0F3E5200F7A967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>984100251D0F3E5200F7A967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
